@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    min-height: max(884px, 100dvh);
    background-color: theme('colors.background');
    color: theme('colors.on-background');
    font-family: theme('fontFamily.body-md');
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  .glass-card {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .neon-border-focus:focus {
    border-bottom: 2px solid #000000;
    outline: none;
  }
  /* Custom scrollbar for categories */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
